/*Responsividade PC's*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img#Fundo {
    max-width: 100%;

}

body {
    background-color: black;
    color: white;

}

@media screen and (min-width: 1024px) and (max-width: 1500px) {

    header {
        background: none;
        z-index: 1;

    }

    img#Fundo {
        transform: translateY(-50px);
        z-index: -1;
        filter: brightness(30%);

    }

    button#Entrar {
        transform: translateY(-790px) translateX(710px);
         
        background-color: red;
        width: 90px;
        height: 35px;
        border: none;
        color: white;
        font-size: 20px;
        text-decoration: solid;
        border-radius: 4px;
        cursor: pointer;
    }

    img#Borda {
        transform: translateY(-500px);
        width: 100%;
    }

    img#BordaCelulares {
        display: none;
        display: hidden;
    }

    h1#Frase-inicio {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        font-size: 70px;
        width: 700px;
        text-align: center;
        transform: translateY(-650px);
        font-weight: 1000;

    }

    h2#Texto-Inicio1 {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
        font-weight: 800;
        transform: translateY(-630px);
    }

    h3#Texto-Inicio2 {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        font-size: 20px;
        transform: translateY(-580px);
    }

    input#Botao-Email {
        width: 480px;
        height: 55px;
        background-color: rgba(0, 0, 0, 0.479);
        font-size: 20px;
        padding-left: 20px;
        border-radius: 5px;
        border-style: solid;
        border: 2px solid rgb(185, 185, 185);
        margin-right: 10px;
        color: white;
        
    }  
    
    input#Botao-Email::placeholder {
        color: rgb(182, 182, 182);

    }

    button#Vamosla {
        width: 180px;
        height: 55px;
        font-size: 22px;
        color: white;
        background-color: red;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;

    }
    
    div#interface-inicio {
        transform: translateY(-560px);
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }

    img#Logo {
        transform: translateY(-750px) translateX(100px);

    }

    button#lingua {
        width: 150px;
        height: 35px;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.295);
        color: white;
        border-radius: 5px;
        border: 1px solid gray;
        transform: translateY(-790px) translateX(700px);
    }

    button#lingua i {
        font-size: 20px;
        padding-right: 5px;

    }

    button#linguaCelulares {
        display: none;

    }

    div#div1 {
        width: 100px;
        height: 80px;
        border: none;
        border-radius: 10px;
        background: linear-gradient(to right, #2c103d, #341a46, #251249, #220968);
        display: flex;
        width: fit-content;
        margin: 0 auto;
        transform: translateY(-490px);
        padding-left: 40px;
        align-items: center;
    }

 img#pipoca {
        display: flex;
        transform: translate (-40px,-200px);
       

    }

    div#div1 h2 {
        font-size: 22px;
        font-weight: 600;
        transform: translateY(-10px);
    }

    div#div1 h4 {
        font-weight: 600;
        font-size: 18px;
        transform: translateY(12px) translateX(-435px);
    }

    div#div1 button {
        width: 120px;
        height: 40px;
        font-size: 20px;
        background-color: rgb(109, 109, 109);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 1000;
        margin-right: 30px;
    }


    h1#alta {
        font-size: 25px;
        font-weight: 900;
        width: 300px;
        transform: translateY(-440px) translateX(100px);
        
    }

    div#filme {
        width: 190px;
        height: 250px;
        border-radius: 5px;
        font-size: 78px;
        cursor: pointer;
        transform: scale(1.0);
    }

    div#filme:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in;
    }

    div#filme h3 {
        font-weight: 1000;
        transform: translateY(120px) translateX(-30px);
        position: relative;
        z-index: 1;
        -webkit-text-stroke: 2px white;
        color: black;
    } 

    section#containerpai {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transform: translateY(-410px);
        
    }

    div#filme img {
        width: 100%;
        height: 100%;
        transform: translateY(-119px);
        border-radius: 10px;
    }

    h2#motivos {
        font-size: 25px;
        font-weight: 1000;
        transform: translateY(-330px) translateX(100px);
        width: 400px;
    }

    section#containerpai2 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        transform: translateY(-420px);
        padding: 120px;
        
    }

    div#Motivos1 {
        padding-right: 20px;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: 20px;
        width: 250px;
        height: 320px;
        background: linear-gradient(165deg, rgb(50, 45, 92), rgb(45, 45, 100), rgb(42, 28, 95), rgb(26, 9, 58),  rgb(11, 3, 26), rgb(61, 0, 0))
    }
    
    div#Motivos1 h3 {
        font-size: 25px;
        font-weight: 1000;
    }

    div#Motivos1 p {
        color: gray;
        font-size: 15px;
        transform: translateY(30px);
        
    }

    h2#perguntas {
        font-size: 25px;
        transform: translateY(-480px) translateX(100px);
        font-weight: 1000;
        width: 400px;
    }

    img#icon1 {
        transform: translateY(120px) translateX(140px);

    }

    img#icon2 {
        transform: translateY(140px) translateX(145px);
    }

    img#icon3 {
        transform: translateY(75px) translateX(150px);

    }

    button#perguntas_frequentes {
        width: 1000px;
        height: 80px;
        margin-bottom: 10px;
        font-size: 25px;
        text-align: left;
        padding: 20px;
        color: white;
        background: rgb(56, 56, 56);
        border: none;
        font-weight: 1000;
        transform: translateY(-400px);
        cursor: pointer;
    }

    button#perguntas_frequentes i {
        transform: translateX(400px);
        font-size: 35px;
        display: block;
        transform: translateY(-28px) translateX(920px);
        width: 100px;
    }

    section#containerpai3 {
        display: flex;
        flex-wrap: wrap;
        transform: translateY(-50px) translateX(150px);
        width: 1000px;
    }

    button#perguntas_frequentes:hover {
        background-color: rgb(92, 92, 92);
        transition: background-color 0.2s ease-in-out;
    }

    footer h2 {
        font-size: 17px;
        text-align: center;
        transform: translateY(-400px);
    }

    div#containerpai4 {
        width: fit-content;
        margin: 0 auto;
        transform: translateY(-380px);
    }

    footer a {
        color: rgb(156, 154, 154);
        text-decoration: underline;
    }

    footer h4 {
        color: rgb(156, 154, 154);
        transform: translateY(-300px) translateX(215px);
        width: 400px;
    }

    div#containerpai5 {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 15px;
        padding-left: 10px;
        width: fit-content;
        margin: 0 auto;
        transform: translateY(-250px);
    }
    
    div#containerpai5 a {
        margin-right: 80px;
        margin-bottom: 10px;

    }

    button#lingua2 {
        width: 150px;
        height: 35px;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.295);
        color: white;
        border-radius: 5px;
        border: 1px solid gray;
        transform: translateY(-200px) translateX(210px);


    }

    button#lingua2 i {
        font-size: 20px;
        padding-right: 5px;

    }

    footer h3 {
        font-size: 15px;
        color: rgb(156, 154, 154);
        transform: translateY(-130px) translateX(210px);
        width: 400px;
    }

    footer h5 {
        font-size: 13px;
        color: rgb(156, 154, 154);
        transform: translateY(-80px) translateX(210px);
        width: 600px;
        margin-bottom: 70px;
    }

    
}





